//COLORS---------------
$colorUtec : #7fdffc;
$colorUtecDark: #13c8ff;
$colorBlack: #202020;
$colorBlackLight: #323232;
$colorWhite: #fff;
$colorWhiteDark: #f4f4f4;
$colorGray: gray;
$colorGrayLight: #e1e1e1;

//MARGIN-----------------
$marginTopBody: 50px;
